@charset "utf-8";

 @font-face {
    font-family: 'KopubdotumM';
    src: url('../font/KoPubDotumM.woff') format('woff');
}

html, body{
    width: 100%;
    height: 100%;
}
a{   
    text-decoration: none;
}
body{
    font-family: 'KopubdotumM', Arial;
}


/* @media screen and (min-width:760px){
  
}
@media screen and (min-width:1200px){

}
                  */
 
