@charset "utf-8";

.modal_back{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    z-index: 99999;
}
/*   top: 0;
    left: 0;
    right: 0;
    bottom: 0;   완전 고정시킬때 사용 */

.back_on{
    opacity: 1;
    visibility: visible;
}
.body_lock{
    height: 100%;
    overflow: hidden;
}
